.admin {
    background-color: snow;
    min-height: inherit;
    .sort {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-bottom: 0.75rem;
        .category-select-container {
            .category-select select {
                width: 250px;
                color: $header-bg-color;
                font-size: 1rem;
                font-family: $font-header;
                text-transform: uppercase;
                margin-bottom: 1rem;
                padding: 0.2rem 0.25rem;
                &:hover,
                &:focus {
                    cursor: pointer;
                }
            }
        }
        button {
            width: 250px;
            color: $header-bg-color;
            font-size: 1rem;
            font-family: $font-header;
            text-transform: uppercase;
            padding: 0.2rem 0.25rem;
            &:hover,
            &:focus {
                cursor: pointer;
            }
        }
        #status {
            width: 250px;
            text-align: end;
            overflow-wrap: anywhere;
            margin-top: 1rem;
        }
        .user-search {
            display: flex;
            gap: calc(0.02 * 250px);
            input {
                width: calc(0.83 * 250px);
                color: $header-bg-color;
                font-size: 1rem;
                font-family: $font-header;
                text-transform: uppercase;
                padding: 0.2rem 0.25rem;
            }
            button {
                width: calc(0.15 * 250px);
                height: fit-content;
                background-color: $header-bg-color;
                border: 1px solid $darkgray;
                border-radius: 2px;
                padding: 0.25rem;
            }
        }
    }
    .orders {
        ul {
            margin: unset;
            padding: unset;
            list-style-type: none;
            li {
                display: flex;
                width: 700px;
                border: 1px solid rgba(0, 0, 0, 0.75);
                flex-direction: column;
                &:not(:first-of-type) {
                    margin: 1rem 0;
                }
                .order-body {
                    display: flex;
                    background-color: $lightgray;
                    padding: 1rem 0.5rem;
                    justify-content: space-between;
                    align-items: center;
                    .info {
                        width: 100%;
                        p {
                            margin: unset;
                        }
                        .id {
                            font-size: 0.675rem;
                            margin-bottom: 0.25rem;
                            opacity: 0.5;
                            .separator {
                                color: $header-bg-color;
                            }
                        }
                        .time {
                            width: 75%;
                            font-size: 1.25rem;
                            font-weight: 600;
                            margin-bottom: 0.25rem;
                        }
                        .view-items {
                            background-color: unset;
                            border: unset;
                            color: adjust-color($darkgray, $lightness: -5%);
                            font-family: $font-body;
                            font-size: 1rem;
                            margin: 0.25rem 0 0.5rem;
                            padding: unset;
                            transition: opacity 0.1s ease-in-out;
                            &:hover,
                            &:focus {
                                cursor: pointer;
                                opacity: 0.8;
                                transition: opacity 0.1s ease-in-out;
                            }
                        }
                        .items {
                            display: none;
                            &.show {
                                display: block;
                            }
                            .react-loading-skeleton {
                                width: 100%;
                            }
                            .item {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .name {
                                    font-size: 1rem;
                                    .times {
                                        font-size: 0.8rem;
                                        font-weight: 300;
                                        margin: 0 0.2rem;
                                    }
                                }
                                .price {
                                    display: flex;
                                    width: 85px;
                                    font-size: 1.5rem;
                                    font-weight: 700;
                                    align-items: center;
                                    .currency {
                                        font-size: 0.75rem;
                                        font-weight: 400;
                                        margin-right: 0.2rem;
                                    }
                                }
                                &.total {
                                    margin-top: 0.5rem;
                                    padding: 0.5rem 0;
                                    border-top: 1px solid black;
                                    border-bottom: 1px solid black;
                                    .name {
                                        font-weight: 700;
                                    }
                                    .price {
                                        color: $header-bg-color;
                                    }
                                }
                            }
                        }
                    }
                }
                .order-footer {
                    display: grid;
                    background-color: $header-bg-color;
                    color: white;
                    padding: 0.5rem;
                    grid-template: auto / 1fr 1fr;
                    grid-template-areas: "status button";
                    align-items: center;
                    .status {
                        grid-area: status;
                        font-size: 0.75rem;
                        opacity: 0.8;
                        justify-self: start;
                    }
                    .order-action {
                        grid-area: button;
                        width: fit-content;
                        font-family: $font-body;
                        font-size: 0.75rem;
                        border: unset;
                        justify-self: end;
                    }
                }
            }
        }
    }
    .products {
        ul {
            margin: unset;
            padding: unset;
            list-style-type: none;
            li {
                display: flex;
                width: 700px;
                border: 1px solid rgba(0, 0, 0, 0.75);
                flex-direction: column;
                &:not(:first-of-type) {
                    margin: 1rem 0;
                }
                .item-body {
                    display: flex;
                    background-color: $lightgray;
                    padding: 1rem 0.5rem;
                    justify-content: space-between;
                    align-items: center;
                    .info {
                        width: 75%;
                        p {
                            margin: unset;
                        }
                        .name {
                            width: 75%;
                            font-size: 1.25rem;
                            font-weight: 600;
                            margin-bottom: 0.25rem;
                        }
                    }
                    .price {
                        display: flex;
                        font-size: 1.5rem;
                        font-weight: 700;
                        align-items: center;
                        .currency {
                            font-size: 0.75rem;
                            font-weight: 400;
                            margin-right: 0.2rem;
                        }
                    }
                }
                .item-footer {
                    display: grid;
                    background-color: $header-bg-color;
                    color: white;
                    padding: 0.5rem;
                    grid-template: auto / 1fr 2fr 1fr;
                    grid-template-areas: "id category button";
                    align-items: center;
                    .id {
                        grid-area: id;
                        font-size: 0.75rem;
                        opacity: 0.4;
                    }
                    .category {
                        grid-area: category;
                        font-size: 0.75rem;
                        justify-self: center;
                        opacity: 0.8;
                    }
                    .buttons {
                        display: flex;
                        width: 100%;
                        grid-area: button;
                        justify-self: end;
                        justify-content: space-between;
                        button {
                            width: 3.5rem;
                            font-family: $font-body;
                            font-size: 0.75rem;
                            border: unset;
                        }
                    }
                }
            }
        }
    }
    .product-edit {
        width: 700px;
        #status {
            margin-top: unset;
        }
        div {
            margin: 1rem 0;
            &.input {
                margin: 0.5rem 0;
            }
        }
        h3 {
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        input,
        textarea,
        button,
        a {
            font-family: $font-body;
            font-size: 1rem;
        }
        input,
        textarea {
            width: 50%;
            padding: 0.25rem;
        }
        textarea {
            height: 100px;
        }
        button,
        a {
            display: flex;
            background-color: $lightgray;
            border: 1px solid $darkgray;
            color: initial;
            text-decoration: none;
            margin-bottom: 0.75rem;
            padding: 0.2rem 0.5rem;
            justify-content: center;
            align-items: center;
            transition: background-color 0.1s ease-in-out;
            &:hover,
            &:focus {
                background-color: adjust-color($color: chocolate, $lightness: 42.5%);
                cursor: pointer;
                transition: background-color 0.1s ease-in-out;
            }
        }
        .name {
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem;
                h3 {
                    margin: unset;
                }
                .id {
                    font-size: 0.75rem;
                    opacity: 0.4;
                }
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: unset;
            button,
            a {
                width: 35%;
            }
        }
    }
    .users {
        ul {
            margin: unset;
            padding: unset;
            list-style-type: none;
            li {
                display: flex;
                width: 700px;
                border: 1px solid rgba(0, 0, 0, 0.75);
                flex-direction: column;
                &:not(:first-of-type) {
                    margin: 1rem 0;
                }
                .user-body {
                    display: flex;
                    background-color: $lightgray;
                    padding: 1rem 0.5rem;
                    justify-content: space-between;
                    align-items: center;
                    .info {
                        width: 100%;
                        p {
                            margin: unset;
                        }
                        .email {
                            font-size: 0.675rem;
                            margin-bottom: 0.25rem;
                            opacity: 0.5;
                        }
                        .name {
                            width: 75%;
                            font-size: 1.25rem;
                            font-weight: 600;
                            margin-bottom: 0.25rem;
                        }
                        .phone {
                            color: $header-bg-color;
                            // font-weight: 300;
                        }
                    }
                }
                .user-footer {
                    display: grid;
                    background-color: $header-bg-color;
                    color: white;
                    padding: 0.5rem;
                    grid-template: auto / 1fr 2fr 1fr;
                    grid-template-areas: "id role button";
                    align-items: center;
                    .id {
                        grid-area: id;
                        font-size: 0.75rem;
                        opacity: 0.4;
                    }
                    .role {
                        grid-area: role;
                        font-size: 0.75rem;
                        justify-self: center;
                        opacity: 0.8;
                    }
                    .view-orders {
                        grid-area: button;
                        width: fit-content;
                        font-family: $font-body;
                        font-size: 0.75rem;
                        justify-self: end;
                        border: unset;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .admin {
        .category-select-container {
            .category-select select {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .admin {
        .product-edit {
            width: 100%;
            input,
            textarea {
                width: 100%;
            }
            .input,
            .buttons {
                width: 100%;
            }
            .buttons {
                button,
                a {
                    width: 75%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .admin {
        .product-edit {
            .name-price {
                display: flex;
                width: 50%;
                gap: 1rem;
                input {
                    width: 100%;
                }
                div {
                    margin: unset;
                }
                .name {
                    width: 75%;
                }
                .price {
                    width: 25%;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .admin {
        .sort {
            .category-select-container {
                .category-select {
                    text-align: center;
                    select {
                        text-align: center;
                        margin-bottom: 0.5rem;
                    }
                }
            }
            #status {
                text-align: center;
            }
        }
        .orders {
            ul li {
                width: 100%;
                .order-action {
                    background-color: unset;
                    padding: unset;
                    transition: opacity 0.15s ease-in-out;
                    &:hover,
                    &:focus {
                        cursor: pointer;
                        opacity: 0.8;
                        transition: opacity 0.15s ease-in-out;
                    }
                }
            }
        }
        .products {
            ul li {
                width: 100%;
                .item-footer {
                    .buttons {
                        justify-content: flex-end;
                        gap: 1rem;
                        button {
                            width: fit-content;
                            background-color: unset;
                            padding: unset;
                            transition: opacity 0.15s ease-in-out;
                            &:hover,
                            &:focus {
                                cursor: pointer;
                                opacity: 0.8;
                                transition: opacity 0.15s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
        .users {
            ul li {
                width: 100%;
                .view-orders {
                    background-color: unset;
                    padding: unset;
                    transition: opacity 0.15s ease-in-out;
                    &:hover,
                    &:focus {
                        cursor: pointer;
                        opacity: 0.8;
                        transition: opacity 0.15s ease-in-out;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .admin {
        .orders {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .order-action {
                background-color: $lightgray;
                border: unset;
                font-family: $font-body;
                font-size: 0.75rem;
                padding: 0.2rem 0.5rem;
                transition: background-color 0.1s ease-in-out;
                &:hover,
                &:focus {
                    background-color: adjust-color($color: chocolate, $lightness: 42.5%);
                    cursor: pointer;
                    transition: background-color 0.1s ease-in-out;
                }
            }
        }
        .products {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .buttons button {
                background-color: $lightgray;
                border: unset;
                font-family: $font-body;
                font-size: 0.75rem;
                padding: 0.2rem 0.5rem;
                transition: background-color 0.1s ease-in-out;
                &:hover,
                &:focus {
                    background-color: adjust-color($color: chocolate, $lightness: 42.5%);
                    cursor: pointer;
                    transition: background-color 0.1s ease-in-out;
                }
            }
        }
        .users {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .view-orders {
                background-color: $lightgray;
                border: unset;
                font-family: $font-body;
                font-size: 0.75rem;
                padding: 0.2rem 0.5rem;
                transition: background-color 0.1s ease-in-out;
                &:hover,
                &:focus {
                    background-color: adjust-color($color: chocolate, $lightness: 42.5%);
                    cursor: pointer;
                    transition: background-color 0.1s ease-in-out;
                }
            }
        }
    }
}