.auth {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    input,
    button {
        font-family: "Gantari", sans-serif;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }
    button {
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(118, 118, 118);
        border-radius: 0.25rem;
    }
    .names {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        input {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 991px) {
    .auth .names {
        display: block;
    }
}