.auth {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    input,
    button {
        font-family: "Gantari", sans-serif;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }
    .names,
    .password {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        input {
            width: 100%;
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        button {
            width: 150px;
            background-color: $lightgray;
            border: 1px solid $darkgray;
            border-radius: 0.25rem;
            margin: unset;
            transition: background-color 0.1s ease-in-out;
            &:hover,
            &:focus {
                background-color: adjust-color($color: chocolate, $lightness: 42.5%);
                cursor: pointer;
                transition: background-color 0.1s ease-in-out;
            }
        }
        .third-party-login {
            width: 40px;
            height: 40px;
            transition: opacity 0.15s ease-in-out;
            &:hover,
            &:focus {
                opacity: 0.8;
                cursor: pointer;
                transition: opacity 0.15s ease-in-out;
            }
            img {
                width: inherit;
                height: inherit;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .auth .names {
        display: block;
    }
}