.secondary {
    background-color: floralwhite;
    min-height: inherit;
    #status {
        max-width: 500px;
        margin-top: 0.5rem;
        text-align: start;
    }
    .cart {
        ul {
            margin: unset;
            padding: unset;
            list-style-type: none;
            li {
                width: 700px;
                .react-loading-skeleton {
                    width: 100%;
                }
                &:not(:first-child) {
                    border-top: 1px solid $header-bg-color;
                }
                .item {
                    display: grid;
                    grid-template: auto / 2fr 1fr 1fr 1fr;
                    grid-template-areas: "name quantity price delete";
                    align-items: center;
                    .name {
                        grid-area: name;
                        font-size: 1rem;
                        .times {
                            font-size: 0.8rem;
                            font-weight: 300;
                            margin: 0 0.2rem;
                        }
                    }
                    .quantity {
                        grid-area: quantity;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        input {
                            width: 30px;
                            height: 30px;
                            font-family: $font-body;
                            text-align: center;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        button {
                            display: flex;
                            align-items: center;
                            background: unset;
                            border: unset;
                            margin-left: 0.5rem;
                            padding: unset;
                            transition: opacity 0.15s ease-in-out;
                            &:hover,
                            &:focus {
                                cursor: pointer;
                                opacity: 0.6;
                                transition: opacity 0.15s ease-in-out;
                            }
                        }
                    }
                    .price {
                        grid-area: price;
                        display: flex;
                        width: 85px;
                        font-size: 1.5rem;
                        font-weight: 700;
                        justify-self: center;
                        align-items: center;
                        .currency {
                            font-size: 0.75rem;
                            font-weight: 400;
                            margin-right: 0.2rem;
                        }
                    }
                    #iconCartEmpty {
                        grid-area: quantity;
                        justify-self: center;
                    }
                    #iconCartCheckout,
                    #iconCartItemDelete {
                        grid-area: delete;
                        justify-self: end;
                    }
                    #iconCartEmpty,
                    #iconCartCheckout,
                    #iconCartItemDelete {
                        transition: opacity 0.15s ease-in-out;
                        &:hover,
                        &:focus {
                            cursor: pointer;
                            opacity: 0.6;
                            transition: opacity 0.15s ease-in-out;
                        }
                    }
                    &.header {
                        margin-bottom: 0.5rem;
                        p {
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }
                    &:not(.header) {
                        padding: 0.5rem 0;
                    }
                    &.total {
                        padding: 0.5rem 0;
                        .name {
                            font-weight: 700;
                        }
                        .price {
                            color: $header-bg-color;
                        }
                    }
                }
            }
        }
        .checkout {
            width: 700px;
            p {
                margin-bottom: 0.5rem;
            }
            input,
            button {
                font-family: $font-body;
                font-size: 1rem;
            }
            input {
                width: 100%;
                padding: 0.25rem;
            }
            .input,
            .buttons {
                width: 50%;
                margin: 0.5rem 0;
            }
            .buttons {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                button {
                    width: 45%;
                    background-color: $lightgray;
                    border: 1px solid $darkgray;
                    padding: 0.2rem 0.5rem;
                    transition: background-color 0.1s ease-in-out;
                    &:hover,
                    &:focus {
                        background-color: adjust-color($color: chocolate, $lightness: 42.5%);
                        cursor: pointer;
                        transition: background-color 0.1s ease-in-out;
                    }
                }
            }
        }
    }
    .account {
        width: 700px;
        #status {
            margin-top: unset;
        }
        div {
            margin: 1rem 0;
            &.input {
                margin: 0.5rem 0;
            }
        }
        h3 {
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        input,
        button {
            font-family: $font-body;
            font-size: 1rem;
        }
        input {
            width: 50%;
            padding: 0.25rem;
        }
        button {
            background-color: $lightgray;
            border: 1px solid $darkgray;
            margin-bottom: 0.75rem;
            padding: 0.2rem 0.5rem;
            transition: background-color 0.1s ease-in-out;
            &:hover,
            &:focus {
                background-color: adjust-color($color: chocolate, $lightness: 42.5%);
                cursor: pointer;
                transition: background-color 0.1s ease-in-out;
            }
        }
        .names,
        .password {
            .input {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                input {
                    width: 50%;
                }
            }
        }
        .buttons {
            width: 60%;
            display: flex;
            justify-content: space-between;
            margin-bottom: unset;
            button {
                width: 45%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .secondary {
        .cart {
            ul li {
                width: 100%;
                &:nth-child(2) {
                    border-top: unset;
                    .item {
                        padding: 0 0 0.5rem;
                    }
                }
                .item {
                    grid-template: auto auto / 1fr 1fr 1fr;
                    grid-template-areas: "name name name" "price quantity delete";
                    row-gap: 0.5rem;
                    .name {
                        justify-self: center;
                    }
                    &.header {
                        display: none;
                    }
                    &.total {
                        grid-template-areas: "name name name" "price delete quantity";
                    }
                    #iconCartEmpty {
                        justify-self: end;
                    }
                    #iconCartCheckout {
                        justify-self: center;
                    }
                }
            }
            .checkout {
                width: 100%;
                input {
                    width: 100%;
                }
                .input,
                .buttons {
                    width: 100%;
                }
            }
        }
        .account {
            width: 100%;
            input {
                width: 100%;
            }
            .input,
            .buttons {
                width: 100%;
            }
            .buttons {
                flex-direction: column;
                button {
                    width: 55%;
                }
            }
        }
    }
}