$header-bg-color: #782121;
$font-header: "Alexandria",
sans-serif;
$body-bg-color: hsl(25, 75%, 95%);
$font-body: "Gantari",
sans-serif;
$lightgray: rgb(240, 240, 240);
$darkgray: rgb(118, 118, 118);
$skeleton-base-color: rgba(120, 33, 33, 0.15);
$skeleton-highlight-color: rgba(120, 33, 33, 0.10);
$skeleton-animation-duration: 1.5s;
$skeleton-animation-direction: normal;
$skeleton-pseudo-element-display: block;