/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;600;700&family=Gantari:wght@300;400;500;600;700&display=swap');
@import "helper/variables";
@import "components/admin";
@import "components/auth";
@import "components/header";
@import "components/footer";
@import "components/main";
@import "components/primary";
@import "components/secondary";
@import "components/skeleton";

/* GENERAL STYLES */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 20px;
}

body {
    background-color: $body-bg-color;
    color: black;
    font-family: "Gantari", sans-serif;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.error,
#status {
    color: adjust-color($color: $header-bg-color, $lightness: 20%);
}

// Adapted from Bootstrap
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}